body::before {
  display: none;
}

body::after {
  display: none;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  text-align: center;
  padding-top: 70px;
  padding-right: 15px;
  overflow-x: hidden;
  overflow-y: auto;
}

.preloader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.spinner {
  width: 70px;
  height: 70px;
  border: 5px solid #ccc;
  border-top-color: #8e5b34;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.welcome-message h1 {
  color: #4caf50;
  font-size: 2rem;
}

.welcome-message p {
  font-size: 1.2rem;
  color: #555;
}

/* New layout styles */
.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.left-section {
  text-align: left;
  flex: 1;
  padding-right: 20px;
}

.right-section {
  flex: 1;
  display: flex;
  justify-content: center;
}

.promo-image {
  max-width: 500px;
  /* Increased size */
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.promo-section {
  padding: 20px 0;
}

.promo-text {
  max-width: 400px;
}

.promo-buttons {
  margin-top: 20px;
}

.order-button {
  background-color: #6a0dad;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.order-button:hover {
  background-color: #540a8a;
}

.contact-button {
  background-color: #f0f0f0;
  color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-button:hover {
  background-color: #d9d9d9;
}


/* Top Products Section */
.top-products-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px ;
  padding: 20px;
  max-width: 1200px;
  min-height: 70vh;
}

.top-products-section h2 {
  font-size: 2rem;
  color: #4caf50;
  margin-bottom: 20px;
}

.products-grid {
  display: flex; 
  flex-direction: row;
  gap: 100px;
  justify-content: center;
  align-items: center;
}

.product-card {
  background: #f9f9f9;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s;
  min-width: 200px;
  flex-shrink: 0;

}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.product-card h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.product-card p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 10px;
}

.buy-button {
  background-color: #6a0dad;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buy-button:hover {
  background-color: #540a8a;
}